/* styles.css */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
     font-family: 'Montserrat', sans-serif;
  background-color: #f0f4f8;
  color: #333;
    font-family: "Roboto", serif;
    font-weight: 800;
  }
   *{
      box-sizing: border-box;
  }
  header{
    text-align: center;
  }
  .boards{
    margin-top: 70px;
     height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  #boardOne, #boardTwo{
    height: 90%;
    width: 30%;
    display: grid;
      grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
   border: solid #858C92 0.26rem;
  }
 
  .gridrow{
   grid-column-start: 1;
  grid-column-end: 11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  }
  .gridcol{
    background-color: white;
    border: solid #333 1px;
    cursor: pointer;
     /* Add smooth transition */
  transition: background-color 0.6s ease, opacity 0.6s ease;
  }
 select{
    background-color: rgb(248, 249, 250);
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(84, 172, 219);
    border-image: initial;
    padding: 10px;
    outline: none;
  }
  #start-btn{
    background-color: rgb(12, 133, 198);
    font-family: serif;
    cursor: pointer;
    color: white;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-self: center;
  }
  #start-btn:hover{
    background-color: rgb(10, 111, 155);
    scale: 1.05;
    transition: 0.3s;
  }
  .inputfield{
    display: flex;
    justify-content: space-around;
  }
  .fade-out {
  opacity: 0;
  background-color: white !important;
}